__pycache__/
old/*
wandb/*
*.log
pytorch_sac/outputs
test*
*.txt
pytorch_sac/slurm_output/*
pytorch_sac/slurm_files/*
*.hdf5
*.png
.config
pytorch_sac/*
data/*
slurm_output/*
slurm_files/*
outputs/*
*.ipynb