__pycache__/
old/*
wandb/*
*.log
dt_adapters/pytorch_sac/outputs
test*
*.txt
dt_adapters/pytorch_sac/slurm_output/*
dt_adapters/pytorch_sac/slurm_files/*
*.hdf5
*.png
.config
dt_adapters/pytorch_sac/*
data/*
dt_adapters/slurm_output/*
dt_adapters/slurm_files/*
outputs/*
*.ipynb
*.csv
*.egg-info/
slurm_files/*
old_outputs/*
artifacts/*
dt_adapters/data/outputs
outputs
venv
results
